<div class="area kansai">
  <h1><%= @kansai.title %></h1>
  <ul class="media-list">
    <div class="row">
      <aside class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <li class="media">
              <img border="0" src="/images/<%= @kansai.image_url %>" class="sample" width = "480" height = "320">
              <h2>商品情報</h2>
              <p><%= @kansai.content %></p>
              <p>製造元：<%= @kansai.maker %></p>
              <p>ホームページ：<a href="<%= @kansai.hp_url %>"><%= @kansai.maker %></a></p>
              <br /><br />
              <div style='width: 100%;'>
                <div id="map" style='width: 100%; height: 45vh;'></div>
              </div>
              <p><span class="badge">平均評価：<%= @average_kansai_reviews[@kansai.id] %></span></p>
              <%= link_to 'レビュー一覧', kansai_kansai_reviews_path(@kansai, @kansai_review), class: 'btn btn-primary' %> <span class="badge">レビュー：<%= @count_kansai_reviews %>件</span>
            </li>
          </div>  
        </div>
      </aside>
    </div>
  </ul>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @kansai.latitude %>,
        "lng": <%= @kansai.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @kansai.title %>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>