<div class="area okinawa">
  <ul class="media-list">
    <div>
      <%= link_to 'レビューする', new_okinawa_okinawa_review_path(@okinawa, @okinawa_review), class: 'btn btn-primary' %>
    </div><br />
    <div class="panel panel-default">
      <h2>レビュー一覧</h2>
      <%= link_to '戻る', @okinawa, class: 'btn btn-primary' %>
      <% @okinawa_reviews.each do |okinawa_review| %>
        <% user = okinawa_review.user %>
        <li class="media">
          <div class="media-left">
            <img class="media-object img-rounded" src="<%= gravatar_url(okinawa_review.user, options = { size: 50 }) %>" alt="">
          </div>
          <div class="media-body">
            <div>
              <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= okinawa_review.created_at %></span>
            </div>
            <div>
              <p>評価：<%= okinawa_review.evaluation %></p>
              <p><%= okinawa_review.content %></p>
            </div>
            <div>
              <% if current_user == okinawa_review.user %>
                <%= link_to 'このレビューを削除する', okinawa_review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </div>
    <%= paginate @okinawa_reviews %>
  </ul>
</div>