<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>全国の名産品をレビューしよう</h1>
      <p>広島のもみじ饅頭や京都の八ッ橋・高知のカツオなど、全国各地には様々な名産品があります。<br />
      ここでは、今までに味わった名産品をレビューすることができます。
      <br />
      <br />北海道・東北・関東...と、地方ごとに分かれてあります。
      </p>
      <ul class="localfood">
        <p><%= link_to '北海道', hokkaidos_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '東北', touhokus_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '関東', kantous_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '甲信越', koushinetsus_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '北陸', hokurikus_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '東海', toukais_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '関西', kansais_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '山陰', sanins_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '山陽', sanyos_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '四国', shikokus_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '九州', kyushus_path, class: 'btn btn-md btn-primary' %>
        <%= link_to '沖縄', okinawas_path, class: 'btn btn-md btn-primary' %></p>
      </ul>
    </div>
  </div>
</div>