<div class="area touhoku">
  <ul class="media-list">
    <div>
      <%= link_to 'レビューする', new_touhoku_touhoku_review_path(@touhoku, @touhoku_review), class: 'btn btn-primary' %>
    </div><br />
    <div class="panel panel-default">
      <h2>レビュー一覧</h2>
      <%= link_to '戻る', @touhoku, class: 'btn btn-primary' %>
      <% @touhoku_reviews.each do |touhoku_review| %>
        <% user = touhoku_review.user %>
        <li class="media">
          <div class="media-left">
            <img class="media-object img-rounded" src="<%= gravatar_url(touhoku_review.user, options = { size: 50 }) %>" alt="">
          </div>
          <div class="media-body">
            <div>
              <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= touhoku_review.created_at %></span>
            </div>
            <div>
              <p>評価：<%= touhoku_review.evaluation %></p>
              <p><%= touhoku_review.content %></p>
            </div>
            <div>
              <% if current_user == touhoku_review.user %>
                <%= link_to 'このレビューを削除する', touhoku_review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </div>
    <%= paginate @touhoku_reviews %>
  </ul>
</div>