<div class="area touhoku">
  <h1><%= @touhoku.title %></h1>
  <ul class="media-list">
    <div class="row">
      <aside class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <li class="media">
              <img border="0" src="/images/<%= @touhoku.image_url %>" class="sample" width = "480" height = "320">
              <h2>商品情報</h2>
              <p><%= @touhoku.content %></p>
              <p>製造元：<%= @touhoku.maker %></p>
              <p>ホームページ：<a href="<%= @touhoku.hp_url %>"><%= @touhoku.maker %></a></p>
              <br /><br />
              <div style='width: 100%;'>
                <div id="map" style='width: 100%; height: 45vh;'></div>
              </div>
              <p><span class="badge">平均評価：<%= @average_touhoku_reviews[@touhoku.id] %></span></p>
              <%= link_to 'レビュー一覧', touhoku_touhoku_reviews_path(@touhoku, @touhoku_review), class: 'btn btn-primary' %> <span class="badge">レビュー：<%= @count_touhoku_reviews %>件</span>
            </li>
          </div>  
        </div>
      </aside>
    </div>
  </ul>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @touhoku.latitude %>,
        "lng": <%= @touhoku.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @touhoku.title %>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>