<div class="area hokuriku">
  <ul class="media-list">
    <div>
      <%= link_to 'レビューする', new_hokuriku_hokuriku_review_path(@hokuriku, @hokuriku_review), class: 'btn btn-primary' %>
    </div><br />
    <div class="panel panel-default">
      <h2>レビュー一覧</h2>
      <%= link_to '戻る', @hokuriku, class: 'btn btn-primary' %>
      <% @hokuriku_reviews.each do |hokuriku_review| %>
        <% user = hokuriku_review.user %>
        <div class="media">
          <div class="media-left">
            <img class="media-object img-rounded" src="<%= gravatar_url(hokuriku_review.user, options = { size: 50 }) %>" alt="">
          </div>
          <div class="media-body">
            <div>
              <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= hokuriku_review.created_at %></span>
            </div>
            <div>
              <p>評価：<%= hokuriku_review.evaluation %></p>
              <p><%= hokuriku_review.content %></p>
            </div>
            <div>
              <% if current_user == hokuriku_review.user %>
                <%= link_to 'このレビューを削除する', hokuriku_review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @hokuriku_reviews %>
  </ul>
</div>