<div class="area hokkaido">
  <h1>北海道の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>ここには、北海道の名産品が並んでいます。<br />苺をホワイトチョコで包んだチョコ菓子や、イカの中にもち米を入れた、ユニークないかめしまで存在します。</p>
  </div>
  <ul class="media-list">
    <% @hokkaidos.each do |hokkaido| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= hokkaido.id %> : <%= link_to hokkaido.title, hokkaido %>
                </div>
                <br />
                <div>
                  <%= hokkaido.content %>
                </div>
                <div>
                  <%= image_tag(hokkaido.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @hokkaidos %>
  </ul>
</div>